{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <section class = "card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis voluptatum quaerat tenetur unde ipsum, cupiditate molestias temporibus illum harum ut odio labore nobis nostrum quibusdam aspernatur deserunt nesciunt optio ipsa?</p>   
        {% if user.is_authenticated == False %}
        <div class = "text-center">
            <a class="btn btn-primary" href="{% url "signin" %}">
                SignIn
            </a>
            <a class="btn btn-primary" href="{% url "signup" %}">
                SignUp
            </a>
        </div>
        {% endif %}
    
    </section>
</main>
{% endblock content %}

